<div id="foot" class="card text-center">
    <div class="card-body">
        <footer>
            <p class="card-text">This mini-project is done by Selamawit Shibru. Copyright &copy;</p>
        </footer>
    </div>

</div>
</body>

</html>