<!-- link the head part with another ejs  -->
<%- include('./fragments/head.ejs') %>

<body>
    <!-- link the navigation part with another ejs  -->
    <%- include('./fragments/navigation.ejs') %>


    <H2>helllo</H2>
    

    <!-- link the footer part with another ejs  -->
    <%- include('./fragments/end.ejs') %>